$white: #fff;
$green: #BCD695;
$girl: rgb(255, 190, 190);
$boy: rgb(156, 206, 255);
$orange: rgb(250,130,130);

@import "compass/css3";

h1,h2,h3,h4,h5 {
  text-align: center;
  font-family: HelveticaNeue-Light, Helvetica Neue Light;
  font-weight: normal;
}

.h1 {
	text-align: center;
	font-family: HelveticaNeue-Light, Helvetica Neue Light;
	font-weight: normal;
	background-color: transparent;
	border:0;
	font-size: 53px;
	line-height: 60px;
	margin: 0 0 15px;
	color: $white;
	height:auto;
}

button {
	margin-bottom: 0px !important;
	width:100%;
	height:70px;
	background: $orange;
	color: $white;
}
input {
	width:100%;
	height:45px;
	border:0;
	font-size: 22px;
}

body {
	font-size: 16px;
	background: $green;
	font-family: HelveticaNeue-Light, Helvetica Neue Light;
}

* {
    box-sizing: border-box;
    position: relative;
    outline: none;
}

.boy {
	color: $boy;
}
.girl {
	color : $girl;
}

h1 {
	color: $white;
	font-size:60px;

}
#home {
	max-width: 62.5em !important;
	margin: 30px auto;
	h2 {
		color:$white;
	}
	.search_events {
		.search_fields {
			padding:0;
			margin: 0 -2px;
			> div {
				padding: 2px;
				input {
					padding:5px;
				}
			}
		}
	}
	#search_results_container {
		display: block;
		width:100%;
		height: 0;
		z-index: 5;
		.search_result {
			cursor: pointer;
			background: rgba($white, .8);
			padding: 10px;
		}
	}
}


#event_view {
	padding:20px;
	margin:0;
	color: $white;
	@media (max-width: 767px) {
		margin-top: 0 !important;
		top: 0 !important;
	}
	@include transition(background-color 1s);
	&.boy {
		background-color: $boy;
	}
	&.girl {
		background-color: $girl
	}
	h1 {
		font-size: 53px;
		line-height: 60px;
		margin: 0 0 15px;
		color: $white;
	}
	h2 {
		color:$white;
		margin: 25px 0 5px;
	}
	.vote_count {
		font-size: 25px;
		background: rgba($white, .5);
		padding: 10px;
		text-align: center;
		.vote_number {
			font-size: 100px;
			text-shadow: 0 0 2px $white;
			@media (max-width: 1126px) {
				font-size: 80px;
			}
			@media (max-width: 920px) {
				font-size: 56px;
			}
		}
		.vote_result {
			padding-bottom:30px;
			text-shadow: 0 0 2px $white;
			font-size: 80px;
		}
	}
	#event_info {
		margin: 0 0 20px;
		
	}
	#event_vote {
		div {
			padding: 0;
		}
		button {
			width: 100%;
			height:80px;
			border: 0;
			font-size: 32px;
			@include transition(background .3s);
			&.vote_boy {
				background: $boy;
				&:hover {
					background: darken($boy, 3%);
				}
				&:active {
					background: darken($boy, 5%);
				}
			}
			&.vote_girl {
				background: $girl;
				&:hover {
					background: darken($girl, 3%);
				}
				&:active {
					background: darken($girl, 5%);
				}
			}
		}
	}
}

#event_admin {
	max-width: 62.5em !important;
	margin: 0 auto;
	padding:30px;
	min-height:450px;
	background: rgba($white, .3);
	.title {
		text-align: right;
	}
	.info_row {
		margin-top: 10px;
	}
}

.text_right {
	text-align: right;
}
.padding-right-10 {
	padding-right: 10px;
}

#myChart, #homePageChart {
	width: 100% !important;
	height: auto !important;
	display: block;
	margin: 0 auto;
}